body {
  min-width: 960px;
  color: #666666;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
  background-color: #e9eaec;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  display: block;
}
div.col-md-3 {
  background-color: #cd071e;
  border-radius: 8px;
  padding: 15px 20px;
}
.block-carthe-views-block-news-block-1-2 {
  font-size: 24px;
  color: #FFF;
  font-weight: normal;
  margin-bottom: 10px;
  margin: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
}
div.main_container {
  width: 960px;
  margin: auto;
  background: #fff;
  padding: 10px;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-default {
  background-color: #cd071e;
  margin: 0;
  background: none;
  z-index: 2;
}
.navbar {
  min-height: 15px;
}
