body {
  min-width: 960px;
  color: #666666;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
  background-color: #e9eaec;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  display: block;
}
.block-carthe-views-block-news-block-1-2 {
  font-size: 24px;
  color: #FFF;
  font-weight: normal;
  margin-bottom: 10px;
  margin: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
}
div.main_container {
  width: 960px;
  margin: auto;
  background: #fff;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-default {
  margin: 0;
  z-index: 2;
}
.navbar {
  min-height: 15px;
  background-color: #cd071e;
}
#block-carthe-views-block-front-page-slider-block-1-2 {
  padding-top: 30px;
}
ul.menu li,
ul.menu li.collapsed {
  list-style-image: url(/themes/contrib/carthe/images/list-arrow.jpg);
}
ul.menu {
  padding-left: 1em;
}
ul.menu a,
ul.menu a:link,
ul.menu a:visited {
  color: #333333;
}
ul.menu a.active-trail {
  color: #CD071E;
}
ul.menu ul.menu {
  padding-left: 0;
}
ul.menu ul.menu li,
ul.menu ul.menu li.collapsed,
ul.menu ul.menu li.expanded {
  list-style-image: none;
  list-style: none;
  padding-left: 1em;
  line-height: 0;
}
ul.menu ul.menu li:before,
ul.menu ul.menu li.collapsed:before,
ul.menu ul.menu li.expanded:before {
  content: "•";
  color: #CD071E;
  margin-left: -1em;
  margin-right: 0.5em;
}
ul.menu ul.menu ul.menu li:before,
ul.menu ul.menu ul.menu li.collapsed:before,
ul.menu ul.menu ul.menu li.expanded:before {
  content: "-";
  color: #CD071E;
}
ul.menu ul.menu a,
ul.menu ul.menu a:link,
ul.menu ul.menu a:visited {
  color: #666666;
}
ul.menu ul.menu li.leaf {
  list-style: none;
  list-style-image: none;
}
ul.menu ul.menu li.leaf,
ul.menu ul.menu li.collapsed,
ul.menu ul.menu li.expanded {
  margin-left: 0;
}
ul.menu a {
  line-height: 2em;
}
ul.menu li {
  margin: 0;
}
.region-user-second ul.menu li.leaf {
  padding: 0.2em 0.3em 0 0;
}
.region-sidebar-second {
  background-color: #cd071e;
  border-radius: 8px;
  padding: 1px 20px;
}
.region-sidebar-second h2 {
  font-size: 24px;
  color: #FFF;
  font-weight: normal;
  margin-bottom: 10px;
}
.region-sidebar-second .block .views-field-title a {
  color: #FFF;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
.region-sidebar-second .block .views-field-view-node a {
  text-decoration: underline;
  color: #E6838E;
}
.footer-more-link,
.footer-more-link a {
  padding-top: 5px;
  text-decoration: underline;
  color: #E6838E;
  line-height: 3em;
  text-align: right;
}
.title-header a {
  font-size: 16px;
  color: #333333;
  letter-spacing: -0.05em;
  margin-bottom: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.title-post-date {
  font-size: 11px;
}
.node__content img {
  vertical-align: middle;
  width: 50%;
  height: 50%;
  float: left;
  padding: 10px;
}
.views-row {
  padding-bottom: 10px;
  line-height: 1em;
}
#system-breadcrumb a {
  color: #CD071E;
}
#block-carthe-fbicon-2 {
  position: absolute;
  right: 3px;
  top: 10px;
}
